{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}


<div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">
        <header>
            <div class="content">
                <h1>mon panier :</h1>
            </div>
        </header>

        <section>


            <div class="box">
                {% for ligne in panier %}


                <div class="card">
                    <div class="card-image">
                        <div class="img-panier">
                            <figure class="is-flex is-align-items-center is-justify-content-center image">
                                <img src="/images/produit/{{ ligne.imageNom }}" alt="image du produit" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ ligne.nom}}</p>
                                </div>
                            </div>

                            <div class="content">
                                {{ ligne.accroche}}
                                <br>
                            </div>
                            <div class="content">

                                {% if ligne.quantite > 1 %}
                                <a href="/panier/reduire/{{ligne.id}}">
                                    <button class="button color-secondary">--</button>
                                </a>
                                {% else %}
                                <button class="button color-secondary" disabled>-</button>
                                {% endif %}
                                <b>{{ ligne.quantite }}</b>
                                <a href="/panier/ajouter/{{ligne.id}}">
                                    <button class="button color-dark">+</button>
                                </a> <br>
                            </div>

                            <div>
                                <a href="/panier/supprimer/{{ligne.id}}">
                                    <button class="button color-light">supprimer</button>
                                </a>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="color-prix">
                                {{ ligne.prixTotal }} €
                            </p>
                        </footer>
                    </div>
                </div>
                <br>
                {% endfor %}

                <div class="content">
                    <h4>
                        Prix total de la commande :
                    </h4>
                    <p class="color-prix">
                        {{ panier[0]["prixCommande"]}} €
                    </p>
                </div>
                <div>
                    <a href="{{ path('commande_recapitulatif') }}">
                        <button class="button color-secondary">Passer commande</button>
                    </a>

                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}



{# <div class="column is-half">

    <div class="columns is-desktop">
        <div class="column is-narrow is-half">
            <div class="box img-panier">
                <figure class="is-flex is-align-items-center is-justify-content-center image">
                    <img src="/images/produit/{{ ligne.imageNom }}" alt="image du produit" />
                </figure>
            </div>
        </div>
        <div class="column is-half">
            <div class="content">
                <b>
                    <h2>{{ ligne.nom}} </h2>
                </b>
            </div>
            <div class="content">
                {{ ligne.nom}} <br><br>
            </div>
            <div class="content">

                {% if ligne.quantite > 1 %}
                <a href="/panier/reduire/{{ligne.id}}">
                    <button class="button color-secondary">--</button>
                </a>
                {% else %}
                <button class="button color-secondary" disabled>-</button>
                {% endif %}
                <b>{{ ligne.quantite }}</b>
                <a href="/panier/ajouter/{{ligne.id}}">
                    <button class="button color-dark">+</button>
                </a> <br>
            </div>

            <div>
                <a href="/panier/supprimer/{{ligne.id}}">
                    <button class="button color-light">supprimer</button>
                </a>
            </div>
            <br>
            <div>
                <p class="color-prix">
                    {{ ligne.prixTotal }} €
                </p>
            </div>
        </div>
    </div>
</div> #}