{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="columns is-mobile is-centered">
    <div class="column is-one-quarter">
        <div class="content">
            <h4>Renseigner vos identifiants :</h4>
        </div>
        <form method="post">
            <div class="field">
                <label class="label" for="inputEmail">Email</label>
                <div class="control">
                    <input class="input" type="Email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
                </div>
            </div>
            <div class="field">
                <label class="label" for="inputPassword">Password</label>
                <div class="control">
                    <input class="input form-control" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
            <div class="content">
                <b>
                    <div class="alert alert-danger color-red is-size-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </b>
            </div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3">
                Vous êtes maintenant connecté en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}

            <div class="field is-horizontal">
                <div class="field">
                    <div class="control">
                        <button class="button color-secondary" type="submit">se connecter</button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <a class="button color-light" href="{{ path('compte_creer') }}">Creer un compte</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
{# formulaire par defaut commenter si-dessous #}

{# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
<label for="inputEmail">Email</label>
<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
<label for="inputPassword">Password</label>
<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

{#
Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
See https://symfony.com/doc/current/security/remember_me.html

<div class="checkbox mb-3">
    <label>
        <input type="checkbox" name="_remember_me"> Remember me
    </label>
</div>
#}

{# <button class="btn btn-lg btn-primary" type="submit">
    Sign in
</button> #}


{% endblock %}