{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
<div class="has-background-light py-5">
    <div class="container is-fluid">
        {{form_start(form)}}
            <div class="field is-horizontal">
                <div class="field-label">
                    {{ form_label(form.IBAN, 'IBAN', {'label_attr': {'class': 'label'}}) }}
                </div>
                <div class="field-body">
                    {{ form_widget(form.IBAN, {'attr': {'class': 'control'}}) }}
                    {{ form_errors(form.IBAN) }}
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    {{ form_label(form.BIC, 'BIC', {'label_attr': {'class': 'label'}}) }}
                </div>
                <div class="field-body">
                    {{ form_widget(form.BIC, {'attr': {'class': 'control'}}) }}
                    {{ form_errors(form.BIC) }}
                </div>
            </div>

            <div class="field is-grouped">
                <p class="control">
                    {{ form_widget(form.save, {'attr': {'class': 'button is-primary'}}) }}
                </p>
                <p class="control">
                    {# <a class="button is-light">
                        Annuler
                    </a> #}
                </p>
            </div>
            {{form_end(form)}}
    </div>
</div>
{% endblock %}
