{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
<div class="has-background-light py-5">
    <div class="container is-fluid">
        {{form_start(form)}}
            <div class="field is-horizontal">
                <div class="field-label">
                    {{ form_label(form.Identifiant, 'Identifiant', {'label_attr': {'class': 'label'}}) }}
                </div>
                <div class="field-body">
                    {{ form_widget(form.Identifiant, {'attr': {'class': 'control'}}) }}
                    {{ form_errors(form.Identifiant) }}
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    {{ form_label(form.Mot_de_passe, 'Mot_de_passe', {'label_attr': {'class': 'label'}}) }}
                </div>
                <div class="field-body">
                    {{ form_widget(form.Mot_de_passe, {'attr': {'class': 'control'}}) }}
                    {{ form_errors(form.Mot_de_passe) }}
                </div>
            </div>

            <div class="field is-grouped">
                <p class="control">
                    {{ form_widget(form.save, {'attr': {'class': 'button is-primary'}}) }}
                </p>
                <p class="control">
                    {# <a class="button is-light">
                        Annuler
                    </a> #}
                </p>
            </div>
            {{form_end(form)}}
    </div>
</div>
{% endblock %}
