{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
{% for commande in commandes %}
<div style="border: solid;">
    <a href='commande_lister{commande.id}'>
        {{dump(commande)}}
        <div>
            <h1 class="title h1">Commande du {{ commande.date_commande }}</h1>
            <div>
                    {% for produit in commande.produits %}
                    <div style="border: solid;">
                        <ul>
                            <li>Produit : {{produit.produit}}</li>
                            <li>{{produit.accroche}}</li>
                            <li>{{produit.description|nl2br}}</li>
                            <li>Prix unitaire : {{produit.prix_unitaire}}€</li>
                            <li>Quantité commandée : {{produit.quantite_commandee}}</li>
                            <li>Remise : {{produit.remise}}</li>
                            <li>Sous-total : {{produit.sous_total}}€</li>
                            <li>Quantité livrée : {{produit.quantite_livree}}</li>
                            <li>Quantité à livrer : {{produit.quantite_a_livrer}}</li>
                        </ul>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </a>
</div>



{% endfor %}
{% endblock %}
