{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}

{% for commande in commandes %}
    {#dump(commande)#}
    <div style="margin-bottom: 50px;border: 5px solid;">
        <ul>
            <li>Id commande : {{commande.id}}</li>
            <li>Commande du : {{commande.comCommande | date("d/m/Y")}}</li>
            <li>Livrée le : {{commande.comLivraison | date("d/m/Y")}}</li>


        {% for livraison in commande.livraisons %}

            {% for livraisonDetail in livraison.livraisonDetails %}
                <li>detQuantiteLivree : {{livraisonDetail.detQuantiteLivree}}</li>
                <li>Id produit livré : {{livraisonDetail.produit.id}}</li>
                {{ dump(livraisonDetail) }}
            {% endfor %}
        {% endfor %}


        {% for commandedetail in commande.commandeDetails %}
                <li>Id commandeDetail : {{commandedetail.id}}</li>
                <li>Quantité : {{commandedetail.detQuantite}}</li>
                <li>Remise : {{commandedetail.detRemise}}</li>
                <li>Prix unitaire : {{commandedetail.detPrixVente}}</li>
                <li>Prix des {{commandedetail.detQuantite}} articles : {{commandedetail.detPrixVente * commandedetail.detQuantite - commandedetail.detRemise}}</li>
                <li>Article : {{commandedetail.produit.proProduit}}</li>
                <li>Description : {{commandedetail.produit.proDescription | nl2br}}</li>
                <li>Accroche : {{commandedetail.produit.proAccroche}}</li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}
