{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}

    {% for commande in commandes %}
        {#dump(commande)#}
        <div style="margin-bottom: 50px;border: 5px solid;">
            <ul>
                <li>Id commande : {{commande.id}}</li>
                <li>Commande du : {{commande.comCommande | date("d/m/Y")}}</li>
                <li>Livrée le : {{commande.comLivraison | date("d/m/Y")}}</li>


            {% for livraison in commande.livraisons %}

                {% for livraisonDetail in livraison.livraisonDetails %}
                    <li>detQuantiteLivree : {{livraisonDetail.detQuantiteLivree}}</li>
                    <li>Id produit livré : {{livraisonDetail.produit.id}}</li>
                    {{ dump(livraisonDetail) }}
                {% endfor %}

            {% endfor %}


            {% for commandedetail in commande.commandeDetails %}
                <li>Id commandeDetail : {{commandedetail.id}}</li>
                {{ dump(commandedetail) }}
                <li>Quantité : {{commandedetail.detQuantite}}</li>
                <li>{% %}</li>
                <li>Remise : {{commandedetail.detRemise}}</li>
                <li>Prix unitaire : {{commandedetail.detPrixVente}}</li>
                <li>Prix des {{commandedetail.detQuantite}} articles : {{commandedetail.detPrixVente * commandedetail.detQuantite - commandedetail.detRemise}}</li>
                <li>Article : {{commandedetail.produit.proProduit}}</li>
                <li>Description : {{commandedetail.produit.proDescription | nl2br}}</li>
                <li>Accroche : {{commandedetail.produit.proAccroche}}</li>
            {% endfor %}
            
            </ul>
        </div>
    {% endfor %}

    {% for commande in commandes %}
        {% set commande_id = {{commande.id}} %}
        {% set commande_date_commande = {{commande.comCommande | date("d/m/Y")}} %}
        {% set commande_date_livraison = {{commande.comLivraison | date("d/m/Y")}} %}

        {% for livraison in commande.livraisons %}

            {% for livraisonDetail in livraison.livraisonDetails %}
                {% set commande_quantite_livree = {{livraisonDetail.detQuantiteLivree}} %}
                {% set commande_quantite_livree_id = {{livraisonDetail.produit.id}} %}
            {% endfor %}

        {% endfor %}

        {% for commandedetail in commande.commandeDetails %}
            {% set commande_detail_id = {{commandedetail.id}} %}
            {% set commande_detail_remise = {{commandedetail.detRemise}} %}
            {% set command_detail_prix_vente = {{commandedetail.detPrixVente}} %}
            {% set article_prix_total = {{commandedetail.detPrixVente * commandedetail.detQuantite - commandedetail.detRemise}} %}
            {% set article_nom = {{commandedetail.produit.proProduit}} %}
            {% set article_description = {{commandedetail.produit.proDescription | nl2br}} %}
            {% set article_accroche = {{commandedetail.produit.proAccroche}} %}
        {% endfor %}

    {% endfor %}
{% endblock %}
