{% extends 'base.html.twig' %}

{% block title %}recapitulatif commande{% endblock %}

{% block body %}


<div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">
        <header>
            <div class="content">
                <h1>ma commande :</h1>
            </div>
        </header>

        <section>


            <div class="box">
                {% for ligne in panier %}
                <div class="card">
                    <div class="card-image">
                        <div class="img-panier">
                            <figure class="is-flex is-align-items-center is-justify-content-center image">
                                <img src="/images/produit/{{ ligne.imageNom }}" alt="image du produit" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ ligne.nom}}</p>
                                </div>
                            </div>

                            <div class="content">
                                {{ ligne.accroche}}
                                <br>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="color-prix">
                                {{ ligne.prixTotal }} €
                            </p>
                        </footer>
                    </div>
                </div>
                <br>
                {% endfor %}

                <div class="content">
                    <h4>
                        Prix total de la commande :
                    </h4>
                    <p class="color-prix">
                        {{ panier[0]["prixCommande"]}} €
                    </p>
                </div>
            </div>

            <div>
                {% for key,value in adresses %}

                {% if key == 'domicile' %}
                <div class="content">
                    <h3>adresse du domicile</h3>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <!-- form label -->
                        <div class="field">
                            <label class="label" for="adresse">adresse</label>
                            <div class="control">
                                <input class="input" type="text" name="adresse" value="{{ value.adresse.adrAdresse }}" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="postal">code postal</label>
                            <div class="control">
                                <input class="input" type="text" name="postal" value="{{ value.adresse.adrPostal }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <!-- form label -->
                        <div class="field">
                            <label class="label" for="ville">ville</label>
                            <div class="control">
                                <input class="input" type="text" name="ville" value="{{ value.adresse.adrVille }}" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="pays">pays</label>
                            <div class="control">
                                <input class="input" type="text" name="pays" value="{{ value.adresse.adrPays }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if key == 'livraison' %}
                <div class="content">
                    <h3>adresse de livraison</h3>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <!-- form label -->
                        <div class="field">
                            <label class="label" for="adresse">adresse</label>
                            <div class="control">
                                <input class="input" type="text" name="adresse" value="{{ value.adresse.adrAdresse }}" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="postal">code postal</label>
                            <div class="control">
                                <input class="input" type="text" name="postal" value="{{ value.adresse.adrPostal }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <!-- form label -->
                        <div class="field">
                            <label class="label" for="ville">ville</label>
                            <div class="control">
                                <input class="input" type="text" name="ville" value="{{ value.adresse.adrVille }}" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="pays">pays</label>
                            <div class="control">
                                <input class="input" type="text" name="pays" value="{{ value.adresse.adrPays }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if key == 'facturation' %}
                <div class="content">
                    <h3>adresse de facturation</h3>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <!-- form label -->
                        <div class="field">
                            <label class="label" for="adresse">adresse</label>
                            <div class="control">
                                <input class="input" type="text" name="adresse" value="{{ value.adresse.adrAdresse }}" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="postal">code postal</label>
                            <div class="control">
                                <input class="input" type="text" name="postal" value="{{ value.adresse.adrPostal }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <!-- form label -->
                        <div class="field">
                            <label class="label" for="ville">ville</label>
                            <div class="control">
                                <input class="input" type="text" name="ville" value="{{ value.adresse.adrVille }}" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="pays">pays</label>
                            <div class="control">
                                <input class="input" type="text" name="pays" value="{{ value.adresse.adrPays }}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <div>
            <a href="{{ path('commande_creer') }}">
                <button class="button is-link">Valider les informations</button>
            </a>
            <a href="#{# path('compte_modifier') #}">
                <button class="button is-link">Modifier les informations</button>
            </a>
        </div>
    </div>
</div>


{% endblock %}