<div class="block">
    <div class="content">
        <h3>Modifier vos coordonnées personnelles</h3>
    </div>
    {{ form_start(form) }}
    <!--form -->
    <div class="field">
        {{ form_label(form.cliNom, 'nom',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.cliNom, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.cliNom) }}</div>


    <!--form -->
    <div class="field">
        {{ form_label(form.cliPrenom, 'Prénom',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.cliPrenom, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.cliPrenom) }}</div>


    <!--form -->
    <div class="field">
        {{ form_label(form.cliNaissance, 'Date de naissance',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.cliNaissance, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.cliNaissance) }}</div>


    <!--form -->
    <div class="field">
        {{ form_label(form.cliSexe, 'Sexe',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.cliSexe, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.cliSexe) }}</div>


    <!--form -->
    <div class="field">
        {{ form_label(form.cliTel, 'Téléphone',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.cliTel, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.cliTel) }}</div>


    <!--form -->
    <div class="field">
        {{ form_label(form.cliFax, 'Fax',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.cliFax, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.cliFax) }}</div>



    <p class="control">
        <button class="button color-secondary">{{ button_label|default('Save') }}</button>
    </p>





    {{ form_end(form) }}
</div>