{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CliNom</th>
                <th>CliPrenom</th>
                <th>CliNaissance</th>
                <th>CliTel</th>
                <th>CliFax</th>
                <th>CliSexe</th>
                <th>CliDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.cliNom }}</td>
                <td>{{ client.cliPrenom }}</td>
                <td>{{ client.cliNaissance ? client.cliNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.cliTel }}</td>
                <td>{{ client.cliFax }}</td>
                <td>{{ client.cliSexe ? 'Yes' : 'No' }}</td>
                <td>{{ client.cliDate ? client.cliDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
