<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('css/test.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}" />


    {% endblock %}

    {% block javascripts %}
    <script src="https://kit.fontawesome.com/b8a4a1dff5.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body class="has-background-dark">
    <section class="hero is-small degrade-header">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">

        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container ">
                <div class="columns is-desktop">
                    <div class="column">
                        <figure class="">
                            <img src="/images/logos/logo_green_valley_01.png" alt="Image représentative de la catégorie"/>
                        </figure>
                    </div>
                    <div class="column">
                        <p class="subtitle">
                            Vente de matériel musical en ligne pour les pros. et les particuliers
                        </p>
                    </div>
                </div>
                
                
            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="navbar is-success has-background-success">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">
                            <a href="{{ path('categorie') }}" class="navbar-item {% if menu_actuel is defined and menu_actuel == 'home' %}is-active{% endif %}">
                                Accueil
                            </a>
                            <a href="{{ path('commande_lister') }}" class="navbar-item {% if menu_actuel is defined and menu_actuel == 'home' %}is-active{% endif %}">
                                Ma commande
                            </a>
                            <a href="{{ path('jeu_de_test') }}" class="navbar-item {% if menu_actuel is defined and menu_actuel == 'home' %}is-active{% endif %}">
                                jeu de test
                            </a>
                        </div>
                        <div class="navbar-end">
                            <a href="{{ path('panier_liste') }}" class="navbar-item {% if menu_actuel is defined and menu_actuel == 'home' %}is-active{% endif %}">
                                Mon panier
                            </a>
                            {% if app.user %}

                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    <div class="navbar-item">{{ app.user.email }}</div>
                                </a>
                                <div class="navbar-dropdown">
                                    <a href="{{ path('compte_afficher') }}" class="navbar-item">
                                        Mes informations
                                    </a>
                                    <a href="{{ path('commande_lister') }}" class="navbar-item">
                                        Historique de commande
                                    </a>
                                    <a href="{{ path('commande_pdf') }}" class="navbar-item">
                                        pdf test
                                    </a>
                                </div>
                            </div>
                            <a href="{{ path('app_logout') }}" class="navbar-item {% if menu_actuel is defined and menu_actuel == 'home' %}is-active{% endif %}">
                                log-out
                            </a>
                            {% else %}
                            <a href="{{ path('compte_afficher') }}" class="navbar-item {% if menu_actuel is defined and menu_actuel == 'home' %}is-active{% endif %}">
                                log-in
                            </a>
                            <a href="{{ path('compte_creer') }}" class="navbar-item {% if menu_actuel is defined and menu_actuel == 'home' %}is-active{% endif %}">
                                Creer un compte
                            </a>
                            {% endif %}

                            <div class="navbar-item">
                                <form method="POST" action="{{ path('categorie_recherche') }}">
                                    <div class="field is-horizontal">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="recherche" name="recherche">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="control">
                                                <button class="button" type="submit" id="rechercher">rechercher</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <div class="has-background-light">
        {% block body %}{% endblock %}
    </div>
    <footer class="footer has-background-dark mt-6">
        <div class="content has-text-centered has-text-grey-light">
            <p>
                Créé par Cyril Cessat et Samier Fabien. Le code source est sous licence
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.<br>Les éléments graphiques tels que les images sont sous licence <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
            {# lien vers bulma + logo #}
            <a href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
            {# lien vers symfony + logo #}
            <a href="https://symfony.com/">
                <img src="https://symfony.com/images/logos/header-logo.svg" width="112" height="28">
            </a>
        </div>
    </footer>
    <script src="{{ asset('js/navBurger.js') }}"></script>
</body>

</html>