{% extends 'base.html.twig' %}

{% block title %}Hello GestionCompteController!{% endblock %}

{% block body %}
<section>
    <div class="columns">
        <div class="column is-10 is-offset-1">

            <div class="block">
                <!-- form en 2 morceaux-->
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!--form titre -->
                    <div class="field">
                        <label class="label" for="title">Nom</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="title" value="{{ infoClient.cliNom  }}" disabled>
                        </div>
                    </div>
                    <!-- form artiste-->
                    <div class="field">
                        <label class="label" for="artist">Prenom</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="artist" value="{{ infoClient.cliPrenom }}" disabled>
                        </div>
                    </div>
                </div>

                <!-- form en 2 morceaux-->
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!-- form année-->
                    <div class="field">
                        <label class="label" for="year">Year</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="year" value="{{ infoClient.cliNaissance  }}"
                                disabled>
                        </div>
                    </div>
                    <!-- form genre-->
                    <div class="field">
                        <label class="label" for="genre">Genre</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="genre" value="{{ infoClient.cliSexe }}" disabled>
                        </div>
                    </div>
                </div>

                <!-- form en 2 morceaux-->
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!-- form label -->
                    <div class="field">
                        <label class="label" for="tel">Label</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="tel" value="{{ infoClient.cliTel }}" disabled>
                        </div>
                    </div>
                    <!-- form price-->
                    <div class="field">
                        <label class="label" for="price">Price</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="price" value="{{ infoClient.cliFax }}" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block">
                <div class="columns">
                    <div class="column is-half">

                        <div class="block">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button is-link"
                                        href="{{ path('compte_modifier', {'obj': infoClient.id}) }}">
                                        Modifier
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-link"
                                        href="{{ path('compte_supprimer', {'obj': infoClient.id}) }}">
                                        Supprimer
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button is-link" href="{{ path('/') }}">
                                        Retour
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}