{% extends 'base.html.twig' %}

{% block title %}Hello GestionCompteController!{% endblock %}

{% block body %}



<section>
    <div class="columns is-mobile is-centered">
        <div class="column is-four-fifths">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Mon compte</a></li>
                </ul>
            </nav>

            <div class="block">
                <div class="content">
                    <h3>Coordonnées personnelles</h3>
                </div>

                <!--form email -->
                <div class="field">
                    <label class="label" for="mail">Votre Email</label>
                    <div class="control is-expanded">
                        <input class="input" type="email" name="mail" value="{{ email }}" disabled>
                    </div>
                </div>
                <p class="control">
                    <a class="button color-secondary" href="{{ path('compte_modifier_user', {'id': infoClient.user.id}) }}">
                        Changer email ou mot de passe
                    </a>
                </p>

                <!-- form en 2 morceaux-->
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!--form nom -->
                    <div class="field">
                        <label class="label" for="nom">Nom</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="nom" value="{{ infoClient.cliNom }}" disabled>
                        </div>
                    </div>
                    <!-- form prenom-->
                    <div class="field">
                        <label class="label" for="prenom">Prenom</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="prenom" value="{{ infoClient.cliPrenom }}" disabled>
                        </div>
                    </div>
                </div>

                <!-- form en 2 morceaux-->
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!-- form naissance-->
                    <div class="field">
                        <label class="label" for="DDN">Date de naissance</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="DDN" value="{{ infoClient.cliNaissance | date(" d/m/Y") }}" disabled>
                        </div>
                    </div>
                    <!-- form genre-->
                    <div class="field">
                        <label class="label" for="genre">Genre</label>
                        <div class="control is-expanded">
                            {% if infoClient.cliSexe %}
                            <input class="input" type="text" name="genre" value="Femme" disabled>
                            {% else %}
                            <input class="input" type="text" name="genre" value="Homme" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- form en 2 morceaux-->
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!-- form telephone -->
                    <div class="field">
                        <label class="label" for="tel">Telephone</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="tel" value="{{ infoClient.cliTel }}" disabled>
                        </div>
                    </div>
                    <!-- form fax-->
                    <div class="field">
                        <label class="label" for="fax">Fax</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="fax" value="{{ infoClient.cliFax }}" disabled>
                        </div>
                    </div>
                </div>
                <p class="control">
                    <a class="button color-secondary" href="{{ path('compte_modifier', {'id': infoClient.id}) }}">
                        Modifier informations personnelles
                    </a>
                </p>
            </div>

            <div>
                {% for key,value in adresse %}

                {% if key == 'domicile' %}
                <div class="content">
                    <h3>adresse du domicile</h3>
                </div>

                <p class="control">
                    <a class="button color-secondary" href="{{ path('adresse_edit', {'id': value.adresse.id}) }}">
                        Modifier adresse
                    </a>
                </p>

                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!-- form adresse de domicile -->
                    <div class="field">
                        <label class="label" for="adresse">adresse</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="adresse" value="{{ value.adresse.adrAdresse }}" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="postal">code postal</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="postal" value="{{ value.adresse.adrPostal }}" disabled>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <div class="field">
                        <label class="label" for="ville">ville</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="ville" value="{{ value.adresse.adrVille }}" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="pays">pays</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="pays" value="{{ value.adresse.adrPays }}" disabled>
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}

                {% if key == 'livraison' %}
                <div class="content">
                    <h3>adresse de livraison</h3>
                </div>

                <p class="control">
                    <a class="button color-secondary" href="{{ path('adresse_edit', {'id': value.adresse.id}) }}">
                        Modifier adresse
                    </a>

                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!-- form adresse de livraison -->
                    <div class="field">
                        <label class="label" for="adresse">adresse</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="adresse" value="{{ value.adresse.adrAdresse }}" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="postal">code postal</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="postal" value="{{ value.adresse.adrPostal }}" disabled>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <div class="field">
                        <label class="label" for="ville">ville</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="ville" value="{{ value.adresse.adrVille }}" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="pays">pays</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="pays" value="{{ value.adresse.adrPays }}" disabled>
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}

                {% if key == 'facturation' %}
                <div class="content">
                    <h3>adresse de facturation</h3>
                </div>

                <p class="control">
                    <a class="button color-secondary" href="{{ path('adresse_edit', {'id': value.adresse.id}) }}">
                        Modifier adresse
                    </a>

                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <!-- form adresse de facturation -->
                    <div class="field">
                        <label class="label" for="adresse">adresse</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="adresse" value="{{ value.adresse.adrAdresse }}" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="postal">code postal</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="postal" value="{{ value.adresse.adrPostal }}" disabled>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                </div>
                <div class="field-body">
                    <div class="field">
                        <label class="label" for="ville">ville</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="ville" value="{{ value.adresse.adrVille }}" disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="pays">pays</label>
                        <div class="control is-expanded">
                            <input class="input" type="text" name="pays" value="{{ value.adresse.adrPays }}" disabled>
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                {% endfor %}
            </div>

            <div class="block">
                <div class="columns">
                    <div class="column is-half">

                        <div class="block">
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button color-secondary" href="{{ path('compte_supprimer', {'id': userId.id}) }}">
                                        Supprimer votre compte
                                    </a>
                                </p>
                                <p class="control">
                                    <a class="button color-secondary" href="{{ path('categorie') }}">
                                        Retour
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>










{% endblock %}