<div class="block">
    <div class="content">
        <h3>Modifier vos identifiants</h3>
    </div>
    {{ form_start(form) }}
    <!--form  -->
    <div class="field">
        {{ form_label(form.email, 'Email',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.email) }}</div>
    <!--form  -->
    <div class="field">
        {{ form_label(form.plainPassword, 'Mot de passe',{'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(form.plainPassword, {'attr': {'class': 'input'}}) }}
        </div>
    </div>
    <div class="error">{{ form_errors(form.plainPassword) }}</div>

    <p class="control">
        <button class="button color-secondary">{{ button_label|default('Save') }}</button>
    </p>





    {{ form_end(form) }}
</div>