{{ form_start(form) }}

{{ form_label(form.email) }}
{{ form_widget(form.email) }}
{{ form_errors(form.email) }}
<br>
{{ form_label(form.password) }}
{{ form_widget(form.password) }}
{{ form_errors(form.password) }}
<br>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}