{{ form_start(form) }}

{{ form_label(form.email) }}
{{ form_widget(form.email) }}
{{ form_errors(form.email) }}
<br>
{{ form_label(form.plainPassword) }}
{{ form_widget(form.plainPassword) }}
{{ form_errors(form.plainPassword) }}
<br>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}