{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}

{# mise en page des colonnes avec bulma #}
<div class="columns is-mobile is-centered is-multiline">
    <div class="column is-four-fifths">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">acceuil</a></li>
                <li><a href="/sous_categories/{{ produit.sousCategorie.categorie.id }}">{{ produit.sousCategorie.categorie.catNom }}</a></li>
                <li><a href="/liste_produits/{{ produit.sousCategorie.id }}">{{ produit.sousCategorie.souNom }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ produit.proProduit }}</a></li>
            </ul>
        </nav>

        <header>
            <div class="content">
                <h1>Détail du produit :</h1>
            </div>
        </header>

        <section class="section box">

                    <div class="columns">
                        <div class="column">
                            <section class="carousel" aria-label="Gallery">
                                <ol class="carousel__viewport">
                                    {% for row in produit.images %}
                                    {% set n = ( n | default(0) ) + 1 %}
                                    <li id="carousel__slide{{ n }}" tabindex="0" class="carousel__slide">
                                        <a target="_blank" href="/images/produit/{{ row }}">
                                            <img src="/images/produit/{{ row }}" alt="N'affiche pas d'image" class="carouselImg">
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ol>
                                <aside class="carousel__navigation">
                                    <ol class="carousel__navigation-list">
                                        {% for row in produit.images %}
                                        {% set n = ( n | default(0) + 1 ) %}
                                        <li class="carousel__navigation-item">
                                            <a href="#carousel__slide{{ n }}" class="carousel__navigation-button">Go to slide 1</a>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </aside>
                            </section>
                        </div>


                        <div class="column is-desktop">
                            <div class="">
                                <div class="content">
                                    <h3>Nom du produit : </h3>
                                    <p>{{ produit.proProduit }}</p>
                                </div>
                                <div class="content">
                                    <h3>Détail : </h3>
                                    <p>{{ produit.proDescription|nl2br }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="content is-flex has-text-centered title is-3 has-text-danger is-justify-content-center">
                                {{ produit.proPrixV }} €
                        </div>
                        <div class="is-flex content is-justify-content-center">
                            <a href="/panier/ajouter/{{produit.id }}" class="button color-dark">Ajouter au panier</a>
                        </div>
                    </div>

            </div>
            
        </section>

    </div>
</div>
{% endblock %}