{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}
{# boucle pour récupérer le nombre de produit total a afficher #}
{% block body %}
{% for produit in listeProduits %}
{% set n = loop.length %}
{% endfor %}

{# mise en page des colonnes avec bulma #}
<div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/sous_categories/{{ listeProduits.0.sousCategorie.categorie.id }}">{{ listeProduits.0.sousCategorie.categorie.catNom }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ listeProduits.0.sousCategorie.souNom }}</a></li>
            </ul>
        </nav>

        <header>
            <div class="content">
                <h1> {{ n }} produits disponible.</h1>
            </div>
        </header>

        {% for produit in listeProduits %}
        <a href="/produit/{{produit.id}}" class="box p-1">
            <article class="media parent-centre ">
                {# <a target="_blank" href="{{ produit.image }}"> #}
                <figure class="media-left thumbnailListeBox is-flex is-justify-content-center">
                    <img src="{{ produit.image }}" alt="image du produit" class="thumbnailListe" />
                </figure>
                {# </a> #}
                <div class="media-content  enfant-centre">
                    <div class="content is-vcentered">
                        <p class="title is-4 is-family-monospace">{{produit.proProduit}}</p>
                        <div>
                            {{produit.proAccroche}}
                        </div>
                    </div>
                </div>
                    <div class="media-right has-text-info is-size-3 has-text-weight-bold enfant-centre p-3">
                        {{produit.prix}}€
                    </div>
            </article>
        </a>
        {% endfor %}

    </div>
</div>

{# block de pagination des différents produit #}
<div class="buttons is-grouped  is-centered">
    {% if page>0 %}
    <p class="control">
        <a class="button color-secondary" href="{{ path('liste_produits', { sousCategorie: listeProduits[0].sousCategorie.id , page: previous} ) }}">previous</a>
    </p>
    {% endif %}
    {% if page<nombrePages %} <p class="control">
        <a class="button color-secondary" href="{{ path('liste_produits', { sousCategorie: listeProduits[0].sousCategorie.id , page: next} ) }}">next</a>
        </p>
        {% endif %}
</div>
{% endblock %}