{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}
{# boucle pour récupérer le nombre de produit total a afficher #}
{% block body %}
{% for produit in listeProduits %}
{% set n = loop.length %}
{% endfor %}


{# mise en page des colonnes avec bulma #}
<div class="columns is-mobile is-centered">
    <div class="column is-four-fifths">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/sous_categories/{{ listeProduits.0.sousCategorie.categorie.id }}">{{ listeProduits.0.sousCategorie.categorie.catNom }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ listeProduits.0.sousCategorie.souNom }}</a></li>
            </ul>
        </nav>

        <header>
            <div class="content">
                <h1> {{ n }} produits disponible.</h1>
            </div>
        </header>

        {# boucle avec element card de bulma pour afficher le résumer de chaque produit #}
        {% for produit in listeProduits %}
        <div class="block">
            <div class="card">
                <div class="card-image">
                    <a target="_blank" href="/images/produit/{{ produit.imagePrincipale }}">
                        <img src="/images/produit/{{ produit.imagePrincipale }}" alt="image du produit" class="thumbnail" />
                    </a>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{produit.proProduit}}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{produit.proAccroche}}
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="button color-light" href="/produit/{{produit.Id}}" class="card-footer-item">détail du produit</a>
                </footer>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{# block de pagination des différents produit #}
{% if page>0 %}
<a href="{{ path('liste_produits', { sousCategorie: listeProduits[0].sousCategorie.id , page: previous} ) }}">previous</a>
{% endif %}
{% if page<nombrePages %} <a href="{{ path('liste_produits', { sousCategorie: listeProduits[0].sousCategorie.id , page: next} ) }}">next</a>
    {% endif %}
    {% endblock %}