<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}" />


    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

</html>

{% block body %}





<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
        {% for row in produit.images %}
        {% set n = ( n | default(0) ) + 1 %}
        <li id="carousel__slide{{ n }}" tabindex="0" class="carousel__slide">
            <img src="/images/produit/{{ row }}" alt="N'affiche pas d'image" class="carouselImg">
        </li>
        {% endfor %}
    </ol>
    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            {% for row in produit.images %}
            {% set n = ( n | default(0) + 1 ) %}
            <li class="carousel__navigation-item">
                <a href="#carousel__slide{{ n }}" class="carousel__navigation-button">Go to slide 1</a>
            </li>
            {% endfor %}
        </ol>
    </aside>
</section>




{% endblock %}